<nav class="navbar">
  <div class="container nav-inner">
    <a routerLink="/" class="logo"> iStore <span>LK</span></a>

    <div class="nav-links">
      <!-- ⭐ queryParams හිස් නම් category එක clear වෙනවා -->
      <a routerLink="/"
         [queryParams]="{}"
         [class.active]="activeCategory === ''">All</a>

      <a *ngFor="let cat of categories"
         routerLink="/"
         [queryParams]="{ category: cat }"
         [class.active]="activeCategory === cat">{{ cat }}</a>
    </div>

    <div class="nav-actions">
      <a routerLink="/cart" class="cart-link" *ngIf="auth.isLoggedIn">
        🛒 <span class="cart-badge" *ngIf="cartCount() > 0">{{ cartCount() }}</span>
      </a>
      <ng-container *ngIf="!auth.isLoggedIn; else loggedIn">
        <button class="btn-ghost btn-small" routerLink="/login">Sign In</button>
      </ng-container>
      <ng-template #loggedIn>
        <a routerLink="/admin/dashboard" class="orders-link" *ngIf="auth.currentUser()?.role === 'ADMIN'">Dashboard</a>
        <a routerLink="/my-orders" class="orders-link">Orders</a>
        <span class="user-name">Hi, {{ auth.currentUser()?.fullName?.split(' ')?.[0] }}</span>
        <button class="btn-ghost btn-small" (click)="logout()">Logout</button>
      </ng-template>
    </div>
  </div>
</nav>